{% extends 'base.html'%}
{% load static %}
{% block title %}HOME{% endblock %}
{% block content %}

<section id="home-section" class="hero" style="background-image: url({% static 'website/img/bg.jpg' %});" data-stellar-background-ratio="0.5">
    <div class="home-slider owl-carousel">
        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
                <img class="one-third align-self-end order-md-last img-fluid" src="{% static 'website/img/bg_1.png' %}" alt="">
                <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                    <div class="text mt-5">
                        <span class="subheading">
                            <img src="{% static 'website/img/websitelogo1.png' %}" alt="website logo">
                        </span>
                        <h3 class="mb-4" style="margin-top: -70px, margin-left:10px;">Hair Consultancy <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&<br>
                            Nail Consultancy</h3>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
                    <img class="one-third align-self-end order-md-last img-fluid" src="{% static 'website/img/bg_2.png' %}" alt="">
                    <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text mt-5">
                            <span class="subheading"><img src="{% static 'website/img/websitelogo1.png' %}" alt="website logo">
                            </span>
                            <h3 class="mb-4" style="margin-top: -70px, margin-left:10px;">Skin Consultancy <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;& <br>
                                Make-up Consultancy</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex">
                <div class="p-md-5 img img-2 d-flex justify-content-center align-items-center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/okDuqPythMw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6 py-md-5 pb-5 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section mb-4 mt-md-5">
                    <h1 class="big">About</h1>
                    <span class="subheading">About Us</span>
                    <h2 class="mb-4">A startup beauty consultancy</h2>
                </div>
                <div class="pb-md-5">
                    <p class="more" style="text-align:justify;">Hello Beauties, I am Vishakha, India base Beauty &amp; Skincare content creator.
                    We Provide Variety of services in Beauty &amp; Skincare know exactly What to use?
                    How to use it? and How much to use?
                    Beauty &amp; Skincare has always been my passion. I always felt to share this
                    knowledge with others and, MakeaWvish is the best way to it. A lot of people want to
                    take care but in this growing market of beauty products, it is difficult to choose the right
                    product with correct ingredients suiting you and of course, keeping the cost in mind.
                    I intend to meet this need with quick home make up sessions to homemade masks to
                    deciding the best choice for your Beauty &amp; Skincare. My vision is to inspire and
                    empower women to make the most out of their life by letting them focus their little
                    bit of life on Glamour,encourage them to embrace their inner beauty, and motivate
                    them to take care of their outer beauty.
                    A lot of people want to take care of their skin but in this growing market of beauty
                    products, it is difficult to choose the right product having correct ingredients and
                    keeping the cost in mind. I help to meet this need with expertise quick home make up
                    sessions to homemade masks, deciding the best choice for your Beauty & Skincare which
                    will help you improve the overall health of the skin to make you look Ravishing &
                    feel confident.<br>
                    Book a Consultation session <a href="{% url 'home' %}#setappointment">NOW</a>
                    or ask us on our Social Media Platforms.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services-section py-5 py-md-0 bg-light">
    <div class="container">
        <div class="row no-gutters d-flex">

            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-makeup"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Makeup</h3>
                        <div class="container">
                            <div class="row">
                                <p class="more" style="text-align:justify;">Makeup is the sum of what makes you who you are. You might get confused with the
                                    range of products available today in market including the choices we have for lipstick, Mascara, Foundation etc. and how to
                                    end up getting the perfect look. That&#39;s where, we will come into the picture and
                                    provide complete guidance.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-flower"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Hair care</h3>
                        <div class="container">
                            <div class="row">
                                <p class="more" style="text-align:justify;">Our hairs are fragile and prone to breakage due to excessive exposure to pollution.
                                    This leads to weak scalp and other hair related issues. We will help you in finding out &amp; planning what works best for you by knowing every
                                    detail such as protein, hair size, scalp health, hair damage, vitamins, and many
                                    other minor details, to get the hairs you have always dreamt of.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-polish"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Nail art</h3>
                        <div class="container">
                            <div class="row">
                                <p class="more" style="text-align:justify;">It is often said that the nails are a reflection of you and they are always on the go never
                                    taking a day off. We will help you with best practices to recover nails from their everyday wear-and-tear
                                    leading to healthier and stronger nails Get your Mani/Pedi advice today.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-facial-treatment"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Skin care</h3>
                        <div class="container">
                            <div class="row">
                            <p class="more" style="text-align:justify;">Cleansing, Toning, Moisturizing and Exfoliation should be a part of your daily routine;
                                these four have a big impact on your skin. There is a dizzying number of opinions on Skincare you will find online but that are
                                actually confusing. Ultimately, knowing this everything &amp; keep your needs in mind we
                                plan everything you wish for and give you that perfect Glowing, Smooth &amp; Supple skin.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="ftco-section ftco-services">
    <div class="container">
        <div class="row">

            <div class="col-md-6 pr-md-4">

                <div class="heading-section pr-5 pb-5 ftco-animate">
                    <h1 class="big">Services</h1>
                    <span class="subheading">Explore Our Services</span>
                    <h2 class="mb-4 mt-3">The beauty is not luxurious imagination</h2>
                    <p style="text-align:justify;">The role of a beauty consultant is to ensure that proper attention is
                        paid to client's concerns and being able to advise by utilizing knowledge nad helping
                        to understand the implications of the products. It is about realizing that your smile
                        is your logo and your personality is your business card.
                    </p>
                </div>

                <div class="services-wrap ftco-animate mb-5">
                    <a class="img d-flex align-items-end" style="background-image: url({% static 'website/img/services-1.jpg' %});">
                        <div class="number">
                        <h3>01</h3>
                        </div>
                    </a>
                    <div class="d-flex justify-content-end">
                        <div class="text d-flex align-items-center">
                            <div>
                            <h3 style="color:white;">Glowing SKin</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="services-wrap ftco-animate mt-3">
                    <a class="img d-flex align-items-end" style="background-image: url({% static 'website/img/services-2.jpg' %});">
                        <div class="number">
                            <h3>02</h3>
                        </div>
                    </a>
                    <div class="d-flex justify-content-end">
                        <div class="text d-flex align-items-center">
                            <div>
                            <h3 style="color:white;">Haircut Care</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 pl-md-4">
                <div class="services-wrap ftco-animate mb-5">
                    <a href="#" class="img d-flex align-items-end" style="background-image: url({% static 'website/img/services-3.jpg' %});">
                        <div class="number">
                            <h3>03</h3>
                        </div>
                    </a>
                    <div class="d-flex justify-content-end">
                        <div class="text d-flex align-items-center">
                            <div>
                            <h3 style="color:white;">Artistic Nails</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="services-wrap ftco-animate mt-3">
                    <a class="img d-flex align-items-end" style="background-image: url({% static 'website/img/services-4.jpg' %});">
                        <div class="number">
                            <h3>04</h3>
                        </div>
                    </a>
                    <div class="d-flex justify-content-end">
                        <div class="text d-flex align-items-center">
                            <div>
                            <h3 style="color:white;">Makeup Consultation</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-booking">
    <div class="container-fluid px-0">
        <div class="row no-gutters d-md-flex justify-content-end">
            <div class="one-forth d-flex align-items-end">
                <div class="text">
                    <div class="overlay"></div>
                    <div class="appointment-wrap" id="setappointment">
                        <span class="subheading">Reservation</span>
                        <h3 class="mb-2">Make an Appointment for </h3>
                        <form action="{% url 'appointment' %}" method="post" class="appointment-form" name="appointment-form" onsubmit="return validateForm()">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" name="your-name" class="form-control" id="appointment_name" placeholder="Name" required>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="email" name="your-email" class="form-control" id="appointment_email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                           title="Your email address is not in a correct format." placeholder="Email" required>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <select name="appointment-type" class="form-control" placeholder="Appointment type">
                                            <!--<option value="#" selected>Appointment type</option>-->
                                            <option value="Makeup Tips">Makeup</option>
                                            <option value="Hair Tips">Hair Care</option>
                                            <option value="Nail Art">Nail Art</option>
                                            <option value="Dress up ">Skin Care</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" name="appointment-date" class="form-control appointment_date" placeholder="Date" required>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" name="appointment-time" class="form-control appointment_time" placeholder="Time" required>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" name="your-phone" class="form-control" id="phone"
                                           pattern="[0-9]{3}[0-9]{3}[0-9]{4}" title="Your number should be of 10 digits."
                                           required placeholder="Phone">
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                        <input type="submit" value="Make an Appointment" class="btn btn-primary">
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="one-third">
                <div class="img" style="background-image: url({% static 'website/img/bg-1.jpg' %});"></div>
            </div>

        </div>
    </div>
</section>

<section class="ftco-section ftco-team">
    <div class="container">
        <div class="row justify-content-center pb-3">
            <div class="col-md heading-section text-center ftco-animate">
                <h1 class="big">Stylist</h1>
                <h2 class="mb-4">Artist</h2>
            </div>
        </div>
    </div>

    <center>
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <div class="carousel-team owl-carousel">
                        <div class="item">
                            <a class="team text-center">
                                <div class="img" style="background-image: url({% static 'website/img/vishakha.jpg' %});"></div>
                                <h2>Vishakha Juneja</h2>
                                <span class="position">Owner</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row no-gutters justify-content-center mb-5 pb-2">
            <div class="col-md-6 text-center heading-section ftco-animate">
                <h1 class="big">Gallery</h1>
                <span class="subheading">Works</span>
                <h2 class="mb-4">Working as Beauty Consultant</h2>
                <p style="text-align:justify;">Advising clients on the best products to compliment their appearance is the
                    responsibility of a Beauty Consultant. My main aim is to inspire and empower women to
                    make the most out of life by helping them to focus a little bit of life on Glamour,
                    encourage them to embrace their inner beauty, and motivate them to take care of their
                    outer beauty too.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="{% static 'website/img/work-1.jpg' %}" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <span>Stylist</span>
                        <h3>Nail Art</h3>
                    </div>
                    <a href="{% static 'website/img/work-1.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="{% static 'website/img/work-2.jpg' %}" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <span>Beauty</span>
                        <h3>Skin Care</h3>
                    </div>
                    <a href="{% static 'website/img/work-2.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="{% static 'website/img/work-3.jpg' %}" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <span>Beauty</span>
                        <h3>Hair Care</h3>
                    </div>
                    <a href="{% static 'website/img/work-3.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="{% static 'website/img/work-4.jpg' %}" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <span>Beauty</span>
                        <h3>Makeup</h3>
                    </div>
                    <a href="{% static 'website/img/work-4.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="{% static 'website/img/work-5.jpg' %}" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <span>Beauty</span>
                        <h3>Skin Care</h3>
                    </div>
                    <a href="{% static 'website/img/work-5.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="{% static 'website/img/work-6.jpg' %}" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <span>Beauty</span>
                        <h3>Skin Care</h3>
                    </div>
                    <a href="{% static 'website/img/work-6.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="{% static 'website/img/work-7.jpg' %}" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <span>Beauty</span>
                        <h3>Hair Care</h3>
                    </div>
                    <a href="{% static 'website/img/work-7.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="{% static 'website/img/work-8.jpg' %}" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <span>Stylist</span>
                        <h3>Nail Art</h3>
                    </div>
                    <a href="{% static 'website/img/work-8.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}